<!--  <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Recent Talks</h1>
                    </div>
                             <div id="owl-example" class="owl-carousel" style="text-align:center;padding-bottom:100px;">
      
      <div><h4>DSS LA | A Data Science Love Poem</h4><br>
	  	  <iframe width="560" height="315" src="https://www.youtube.com/embed/3QdFouCjb5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
      By Mollie Pettit, Data Science Instructor at Metis at DSS LA </div>
      
	  <div><h4>CHI|17 Domino Data Science Pop Up</h4><br>
	  <iframe src="https://fast.wistia.net/embed/iframe/24in88x0f8?wmode=opaque" title="Wistia video player" allowtransparency="true" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" id="yui_3_17_2_1_1543035108859_116" width="560" height="315" frameborder="0"></iframe><br><br>
	  Description</div>
      <div><h4>PLOTCON 2016: Mollie Pettit & Jess Freane, Get Your Point Across</h4><br>
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/yJvVcTU42xI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
	  Why does one decide to visualize data? And once they have decided to visualize their data, how do they know the best way to tell their story? </div>
</div>
</div> -->

<div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Recent Talks</h1>
                    </div>

          
		
 <div class="row">
      <div class="col-md-4 col-xs-4 divTableCell"><iframe width="560" height="315" src="https://www.youtube.com/embed/3QdFouCjb5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-xs-6" divTableCell><h4>DSS LA | A Data Science Love Poem</h4><br>
	  	  
      By Mollie Pettit, Data Science Instructor at Metis at DSS LA 
      
    </div>		  </div>
	
	 <div class="row">
      <div class="col-md-4 divTableCell"><iframe src="https://fast.wistia.net/embed/iframe/24in88x0f8?wmode=opaque" title="Wistia video player" allowtransparency="true" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" id="yui_3_17_2_1_1543035108859_116" width="560" height="315" frameborder="0"></iframe><br><br>
      </div>
      <div class="col-md-6 DivTableCell" ><h4>CHI|17 Domino Data Science Pop Up</h4><br>
	  	    
      
    </div>	</div>	  
	
	<div class="row">
	<div class="col-md-4 col-xs-4 divTableCell"><iframe width="560" height="315" src="https://www.youtube.com/embed/yJvVcTU42xI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-xs-6" divTableCell><h4>PLOTCON 2016: Mollie Pettit & Jess Freane, Get Your Point Across</h4><br>
	  	  
     Why does one decide to visualize data? And once they have decided to visualize their data, how do they know the best way to tell their story?
      
    </div>		  </div>